@model Users
@inject UserManager<Users> UserManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MyDefaultlayout.cshtml";
    var photoPath = "~/Images/" + (Model.Photo ?? "user.png");
    var CoverPath = "~/Images/" + (Model.Cover ?? "CoverDefault.jpg");
}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from https://bootdey.com  -->
    <!--  All snippets are MIT license https://bootdey.com/license -->
    <title>Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>*@
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
    	body{margin-top:20px;
background:#eee;
}

.divider {
  height: 20px;
  display: block;
}

/* ========================================================================
 * FORM MISC
 * ======================================================================== */
.input-group-addon {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  min-width: 39px;
}
.input-group-addon .ckbox, .input-group-addon .rdio {
  position: absolute;
  top: 4px;
  left: 10px;
}

.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn, .input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn, .input-group-xs > .form-control, .input-group-xs > .input-group-addon, .input-group-xs > .input-group-btn > .btn {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.input-sm, .form-group-sm .form-control {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.form-control {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@*@media (max-width: 640px) {
  .form-inner-all [class*="col-"]:last-child .form-control {
    margin-top: 15px;
  }
}*@


/* ========================================================================
 * PROFILE
 * ======================================================================== */
.profile-cover {
  width: 100%;
}
.profile-cover .cover {
  position: relative;
  border: 10px solid #FFF;
}
.profile-cover .cover .inner-cover {
  overflow: hidden;
  height: auto;
}
.profile-cover .cover .inner-cover img {
  border: 1px solid transparent;
  text-align: center;
  width: 100%;
}
.profile-cover .cover .inner-cover .cover-menu-mobile {
  position: absolute;
  top: 10px;
  right: 10px;
}
.profile-cover .cover .inner-cover .cover-menu-mobile button i {
  font-size: 17px;
}
.profile-cover .cover ul.cover-menu {
  padding-left: 150px;
  position: absolute;
  overflow: hidden;
  left: 1px;
  float: left;
  bottom: 0px;
  width: 100%;
  margin: 0px;
  background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.24);
}
.profile-cover .cover ul.cover-menu li {
  display: block;
  float: left;
  margin-right: 0px;
  padding: 0px 10px;
  line-height: 40px;
  height: 40px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.profile-cover .cover ul.cover-menu li:hover {
  background-color: rgba(0, 0, 0, 0.44);
}
.profile-cover .cover ul.cover-menu li.active {
  background-color: rgba(0, 0, 0, 0.64);
}
.profile-cover .cover ul.cover-menu li a {
  color: #FFF;
  font-weight: bold;
  display: block;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
}
.profile-cover .cover ul.cover-menu li a i {
  font-size: 18px;
}
.profile-cover .profile-body {
  margin: 0px auto 10px;
  position: relative;
}
.profile-cover .profile-timeline {
  padding: 15px;
}
.img-post{
    width:30px;
    height:30px;
}
.img-post2{
    width:50px;
    height:50px;
}
    </style>
</head>
<body>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container bootstrap snippets">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4">
                <div class="panel rounded shadow">
                    <div class="panel-body">
                        <div class="inner-all">
                            <ul class="list-unstyled">
                                <li class="text-center">
                                    <img id="profileimg" data-no-retina="" class="img-circle img-responsive img-bordered-primary" src="@photoPath" alt="John Doe" asp-append-version="true">
                                </li>
                                <li class="text-center">
                                    <h4 class="text-capitalize">@Model.MyUsername</h4>
                                    <p class="text-muted text-capitalize">@Model.Bio</p>
                                </li>
                                <li>

                                </li>
                                <li><br></li>
                                <li>
                                    <div class="btn-group-vertical btn-block">

                                        @{
                                            var user = await UserManager.GetUserAsync(User);
                                            if (Model.Id.Equals(user.Id))
                                            {

                                                <button class="btn btn-default" onclick="editt('@Model.Id');">Edit Account</button>
                                                <ul>
                                                    <li class="custom-file ">
                                                        <form asp-action="Index" asp-controller="Profile" enctype="multipart/form-data">
                                                            <input asp-for="Id" hidden />

                                                            <input asp-for="Photoimg" style="display:none;" id="mfile" class="form-control custom-file-input" onchange="loadFileProfile(event)">

                                                            <label for="mfile"><i class="fa fa-photo"></i></label>
                                                            <input type="submit" id="submitt" hidden class="btn btn-default" />
                                                        </form>
                                                    </li>
                                               
                                              
                                                    <li>
                                                        <form asp-action="Index" asp-controller="Profile" enctype="multipart/form-data">

                                                            <input asp-for="Id" hidden />

                                                            <input asp-for="Coverimg" style="display:none;" id="mfile2" class="form-control custom-file-input" onchange="loadcoverprofile(event)">

                                                            <label for="mfile2"><i class="fa fa-photo"></i></label>
                                                            <input type="submit" id="submitt2" hidden class="btn btn-default" />
                                                        </form>
                                                    </li>
                                                </ul>

                                                }

                                            }
</div>
                             
                        </div>
                    </div>
                </div><!-- /.panel -->

                <div class="panel panel-theme rounded shadow">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h3 class="panel-title">Contact</h3>
                        </div>

                        <div class="clearfix"></div>
                    </div><!-- /.panel-heading -->
                    <div class="panel-body no-padding rounded">
                        <ul class="list-group no-margin">
                            <li class="list-group-item"><i class="fa fa-calendar mr-5"></i>BirthDate: @Model.Birthdate?.ToString("dd-MMM-yyyy") </li>
                            <li class="list-group-item"><i class="fa fa-user mr-5"></i>Gender is: @Model.Gender</li>

                        </ul>
                    </div><!-- /.panel-body -->
                </div><!-- /.panel -->

            </div>
            <div class="col-lg-9 col-md-9 col-sm-8">

                <div class="profile-cover">
                    <div class="cover rounded shadow no-overflow">
                        <div class="inner-cover">
                            <!-- Start offcanvas btn group menu: This menu will take position at the top of profile cover (mobile only). -->
                            <div class="btn-group cover-menu-mobile hidden-lg hidden-md">
                                <button type="button" class="btn btn-theme btn-sm dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <ul class="dropdown-menu pull-right no-border" role="menu">
                                    <li class="active"><a href="#"><i class="fa fa-fw fa-clock-o"></i> <span>Timeline</span></a></li>
                                    <li> <label for="mfile2"><i class="fa fa-photo"></i></label></li>
                                    <li><a href="#"><i class="fa fa-fw fa-photo"></i> <span>Photos</span> <small>(98)</small></a></li>
                                    <li><a href="#"><i class="fa fa-fw fa-users"></i><span> Friends </span><small>(23)</small></a></li>
                                    <li><a href="#"><i class="fa fa-fw fa-envelope"></i> <span>Messages</span> <small>(7 new)</small></a></li>
                                </ul>
                            </div>
                            <img src="@CoverPath" id="coverimg" class="img-responsive full-width" alt="cover" style="max-height:200px;" asp-append-version="true">
                        </div>
                        <ul class="list-unstyled no-padding hidden-sm hidden-xs cover-menu">
                            <li class="active"><a href="#"><i class="fa fa-fw fa-clock-o"></i> <span>Timeline</span></a></li>
                            <li><a href="#"><i class="fa fa-fw fa-user"></i> <span>About</span></a></li>
                            <li><a href="#"><i class="fa fa-fw fa-photo"></i> <span>Photos</span> <small>(98)</small></a></li>
                            <li><a href="#"><i class="fa fa-fw fa-users"></i><span> Friends </span><small>(23)</small></a></li>

                        </ul>
                    </div><!-- /.cover -->
                </div><!-- /.profile-cover -->
                <div class="divider"></div>
                @if (Model.Id.Equals(user.Id))
                {
                    await Html.RenderPartialAsync("_CreatePostPartial", new Posts());
                }


                @{ await Html.RenderPartialAsync("_postIndexPartial", Model.Posts);}

                <!-- /.panel -->
                <div class="row">


                </div>
            </div>
        </div>
    </div>
    <div id="editdiv"></div>
    <div id="deletediv"></div>
</body>
</html>


@section Scripts{




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript">
        
        
        var editt = function (id) {
            $.ajax({
                type: "GET",
                url: "Profile/EditInfo/" + id,
                success: function (response) {
                    $("#emptyDiv").html(response);
                    $("#editinfomodal").modal({ 
                        "backdrop"  : "static",
                       "keyboard"  : true,
                       "show"      : true   });  
                },
                
            });
        }

        var loadFileProfile = function (event) {
            var imagediv = document.getElementById('profileimg');

            imagediv.src = URL.createObjectURL(event.target.files[0]);

            document.getElementById('submitt').click();

        }
         var loadcoverprofile = function (event) {
            var imagediv = document.getElementById('coverimg');

            imagediv.src = URL.createObjectURL(event.target.files[0]);

            document.getElementById('submitt2').click(); 
            }
        


        function editPost(id) {
            $.ajax({
                type: "GET",
                url: "Posts/Edit/" + id,
                success: function (response) {

                    $("#editdiv").html(response);
                    $("#modalSubscriptionFormwe").modal({ 
                        "backdrop"  : "static",
                       "keyboard"  : true,
                       "show"      : true   });  
                },
               
                error: function () {
                    alert("Error retreiving Posts");
                }
            });
        }
        function deletePost(id) {
            $.ajax({
                type: "GET",
                url: "Posts/Delete/" + id,
                success: function (response) {
                    $("#deletediv").html(response);
                    $("#modalSubscriptionFormwd").modal({ 
                        "backdrop"  : "static",
                       "keyboard"  : true,
                       "show"      : true   });  
             
                },
                //success: function (response) {
                //    alert(response)
                //},
                error: function () {
                    alert("Error Deleting Posts");
                }
            });
        }


    </script>
}


